body {
    font-family: Arial, sans-serif;
    background-color: #89ad70;
  }
  
  header h1 {
    color: #333;
  }
  
  header p {
    color: #666;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .list-group-item {
    padding: 10px 20px;
    border-color: #ddd;
  }