body {
    font-family: Arial, sans-serif;
    background-color: #91bd69;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    color: #666;
  }
  
  .list-group-item {
    padding: 10px 20px;
    border-color: #ddd;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-control {
    border-radius: 0;
  }
  
  .btn {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }